# EUCS IDAM End User Guidance

This is the home page of the **EUCS IDAM End User Guidance**. Here you will find user guides, advice, IdAM policies and signage to raise requests and quiries.

## How To Raise A Requst

For any quiries that do not match the below requests, please contact us at **[EUCS IDAM Team Shared Inbox](mailto:idamteam@justice.gov.uk)**

| Request Type | Task | How To Raise The Request |
| ----------- | ----------- | ----------- |
| Account Management | Add User account (MOJO - Production) | [New User Account](https://mojprod.service-now.com/moj_sp?id=sc_cat_item&table=sc_cat_item&sys_id=7404ac3137b723005f7cd1b543990e3e&searchTerm=SERVICE%20ACCOUNT) |

## End User Guidance

* [Application Registrations (SSO)](/documentation/guidance/appreg.html)
* [Security Groups](/documentation/guidance/sg.html)

## Resources

* [EUCS IDAM Team Shared Inbox](mailto:idamteam@justice.gov.uk)

## Test

<table>
  <tr>
    <th rowspan="1">Request Type</th>
    <th colspan="1">Task</th>
  </tr>
  <tr>
    <td rowspan="2">Account Management </td>
    <td>Add User account (MOJO - Production)</td>
  </tr>
  <tr>
    <td>Delete User account (MOJO - Production)</td>
  </tr>
</table>
